#game {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*win screen styles */
#winScreen {
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}


.win-message {
    font-size: 12vw;
    font-weight: bold;
    margin-bottom: 20px;
}

.scores {
    margin-bottom: 20px;
}

.player-score {
    font-size: 7vw;
    margin-bottom: 5px;
}

.player-display {
    white-space: pre;
    font-size: 3vw;
    margin-bottom: 5px;
}

#newGameBtn {
    font-size: 2vw;
    padding: 10px 20px;
    cursor: pointer;
}

/* main game styles */
header {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #d3d6da;
    width: 100%;
}

.title {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
}

#board-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: 100%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border: 10px solid black;
}

#board {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 15% 25% 20% 25% 15%;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    justify-content: center;
}

.numDisp {
    display: flex;
    align-items: center;
    justify-content: center;
}



.hole {
    border: 2px solid black;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 100%;
    opacity: 1;


}

.pit {
    border: 2px solid;
    border-radius: 20px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    vertical-align: middle;
    opacity: 1;
}

/* player pit styles*/
.p1 {
    border-color: rgb(255, 60, 40);
}

.p2 {
    border-color: rgb(39, 87, 246);
}